<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="3" parallel="classes" name="Test">
    <classes>
		
     <!--  
      <class name="com.Neckermann.TestClass.HamburgerMenu_Holidays_Functionality"/>
      <class name="com.Neckermann.TestClass.Atolprotecetdfunctionality_visiblityofNewsletter_Footer"/>
      -->
      
      
      <!--failed because of scroll
        <class name="com.Neckermann.TestClass.Aboutus_functionality"/>
        <class name="com.Neckermann.TestClass.Newsletter_Homepage_Functionality"/>
        <class name="com.Neckermann.TestClass.Other_Functionality_From_Homepage"/>
          
         -->
         <!--Run successfully
          <class name="com.Neckermann.TestClass.HamburgerMenu_Functionality"/>
         <class name="com.Neckermann.TestClass.ATOLprotecetd_Functionality"/>
          -->
     
             <class name="com.Neckermann.TestClass.Footer__Functionality"/>
             
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
